@page "/motoristas"
@using Estacionamento.MAUI.Models
@inject HttpClient Http;

<h3>Lista de Motoristas</h3>

<a href="/motoristas/create" class="btn btn-info">Cadastrar</a>

@if (motoristas == null)
{
    <h1>NÃO TEM MOTORISTAS NO MOMENTO!!!</h1>
}
else if (motoristas.Count == 0)
{
    <h2>Não há motoristas cadastrados!</h2>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motorista in motoristas)
            {
                <tr>
                    <td>@motorista.Id</td>
                    <td>@motorista.Nome</td>
                    <td>@motorista.Cpf</td>
                    <td>@motorista.Telefone</td>
                    <td>
                        @if (motorista.Id != null)
                        {
                        // @motorista.Veiculos.Placa
                        }
                        else
                        {
                            <p>Não Possui</p>
                        }
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning">Editar</a>
                        <a href="/motoristas/details/@motorista.Id" class="btn btn-info">Detalhes</a>
                        <a href="/motoristas/delete/@motorista.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Motorista>? motoristas;

    protected override async Task OnInitializedAsync()
    {
        motoristas = await Http.GetFromJsonAsync<List<Motorista>>("https://localhost:4000/api/Motoristas");
    }
}
